<div class="row">
        <section class="content">
            <div class="col-md-8 col-md-offset-2">
                <h3 style="text-align: center;" class="brown">List of Players</h3>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="pull-right">
                        </div>
                        <div class="table-resposive">
                           
                            <table class="table table-filter">
                                <tbody>
                                    <tr *ngFor="let criketerList of criketerDetail; let i = index">
                                        <td>
                                            {{i + 1}}
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <a href="#" class="pull-left">
                                                    <img [src]="imageUrl" class="media-photo">
                                                </a>
                                                <h4 class="title">
                                                    {{criketerList?.firstName | uppercase}} {{criketerList?.lastName | uppercase}} Born on {{criketerList?.dob | date :'shortDate' }}
                                                </h4>

                                                <div class="media-body">
                                                    <span class="media-meta pull-right">{{criketerList?.favShot}}</span>
                                                    <!--1.2-4 Decimal value before the (.) and after and the digits to display-->
                                                    <span class="media-meta pull-down">{{criketerList?.yearlyIncome  | currency : "INR" : false: "1.2-4"  }}</span>
                                                    <p class="summary" appMyHighlighter>{{criketerList?.playerType}}</p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>